.signup-outer-box {
    display: block;
    text-align: center;
}

.signup-box {
    display: flex;
    border-radius: 25px;
    justify-content: center;
    height: 650px;
    flex-direction: column;
    width: 400px;
  
}

#signup-h1 {
    margin: 0;

}

.signup-input{
    display: inline-block;
    border: 2px solid black;
    padding: 12px;
    border-radius: 5px;
    font-size: 14px;
    width: 350px;
    margin-bottom: 0.5em;
}

#signup-button{
    padding: 12px;
    border: solid black 2px;
    width: 350px;
    box-shadow: 4px 4px 0px black;
    background-color: salmon;
    color: white;
    margin: 15px;
    cursor: pointer;
}