.borderBox {
  border-bottom: solid 2px;
  padding-bottom: 2em;
  padding-top: 1em;
}

.borderBox2 {
  border-bottom: solid 2px;
  padding-top: 1em;
}

#display {
  display: block;
}

.outer {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.inner {
width: 500px;
display: inline-block;
text-align: start;
}


.txtInput {
  width: 100%;
  display: inline-block;
  padding: 3px;
  margin-top: 2px;
  margin-bottom: 5px;
}

.city-state {
display: flex;
}

#city {
width: 70%;
}

#state {
width: 30%;
}

#createButton {
  padding: 15px;
  width: 200px;
  margin-top: 2em;
}

.errors {
  margin: 0;
  padding: 0;
}

#comma {
  margin: 1%;
  line-height: 65px;
  font-size: 1.5em;
}

#price {
  display: flex;
}

#moneySign {
  font-weight: bold;
  font-size: 1.3em;
  margin-right: 2%;
  line-height: 135%;
}