#indexBox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 3rem;
}
  
#outer-box {
  width: 1000px;
  margin: auto;
}

.grid-container {
  display: grid;
  height: 500px;
  max-width: 1000px;
  grid-template-areas:
    "prev prev a b"
    "prev prev c d";
  grid-template-columns: 2fr 1fr 1fr;
}

.grid-container > img {
  object-fit: cover;
  width: 248px;
  height: 248px;
  margin: 2px;
}

#preview {
  grid-area: prev;
  width: 500px;
  height: 500px;
  border-radius: 20px 0 0 20px;
}

img:nth-child(3) {
border-radius: 0 20px 0 0;
}

img:nth-child(5) {
border-radius: 0 0 20px 0;


}

.reserve {
  float: right;
  width: 400px;
  padding: 12px;
  border: solid black 3px;
  border-radius: 15px;
  text-align: center;
  margin-top: 15px;
}

.reserve > p {
  display: inline-block;
}

.price > span {
  font-size: 1.5em;
  font-weight: bold;
}

.res-reviews {
  margin-left: 10em;
}

#reserveButton {
  padding: 15px;
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.borderBox {
  border-bottom: solid;
}

#star {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 2px;
}

.spotDesc {
  display: block;
  width: 600px;
  min-height: 180px;
}

  #display {
    display: block;
  }

  .outer {
    text-align: center;
  }

  .errors {
    color: red
}


.imgtop {
  height: 350px;
  width: 350px;
}

.marginForCard {
  margin: 15px;
}

.thumbnail {
  width: 350px;
  height: 300px;
  margin-bottom: 5px;
  object-fit: cover;
}

.infoBox {
  display: block;
  height: 100x;
  width: 350px;
}

.infoBox-left{
  display: inline-block;
  text-align: left;
  width: 48%;
}

.infoBox-right {
  text-align: right;
  display: inline-block;
  width: 49%;
  vertical-align: 17px;
}

.infoBox p {
  margin-top: 5px;
  line-height: 8px;
}

#cash {
  font-weight: 600;
}

.location, .stars {
  font-size: 17px;
}

#indexBox a {
  display: flex;
}

.review-text {
  font-size: 1.2em;
  margin: 0;
}

.grey {
  color: grey;
}

.review-button {
  margin-bottom: 5%;
}

#review-box {
  margin-bottom: 3%;
}

#manageSpotDiv {
  display: inline-block;
  margin: 2em;
}

#spotBoxId {
  margin: 2em;
}

#updateButtonManage {
  margin-right: 2.5%;
}

.reviews-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

#bottom-separator {
  border-bottom: black solid 2px;
}

.manage-spots-div {
  margin-left: 2em;
}

#check {
  border-radius: 25%;
}