/* TODO Add site wide styles */  
h1, h2, h3 {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

.errors {
    color: red
  }

  .hidden {
    display: none;
  }

  .modal-input {
    background-color: lightblue;
  }