.navbar {
  display: inline-block;
  position: sticky;
  width: 100%;
  border-bottom: solid 1px rgb(159, 159, 159);
  height: 80px;
  margin-bottom: 30px;
  vertical-align: center;
}

.navbar > ul {
  list-style-type: none;
}

.left-nav {
  float: left;
}

.right-nav {
  float: right;
  margin-right: 20px;
}

#newSpotText {
  color: teal;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 1em;
  text-decoration: none;
}

.active {
    text-decoration: none;
    color: black;
}

#logobnb {
    text-decoration: none;
    color: black;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.7em;
    position: absolute;
  top: 13px;
  left: 75px;
}

/* .navlogo-container {
  height: 64px;
} */

.logo-nav {
  position: absolute;
  top: 13px;
  left: 20px;
  height: 50px;
}

.profile-dropdown > li {
  text-decoration: none;
  list-style: none;
  padding-bottom: 5px;
}

.profile-dropdown {
  border-radius: 15px;
  border: 0;
  box-shadow: 0 0 15px gainsboro;
  height: auto;
  min-width: 80px;
  width: 8em;
  background-color: white;
  padding: 8%;
  text-align: center;
}

.manageText {
  text-decoration: none;
  color: black;
/* margin-top: 5px;
   */
}

.profile-border {
  border-bottom: 1px solid gainsboro;
  padding-bottom: 10%;
}

#logout {
  border-top: 1px solid black;
  margin-top: 1em;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px;
  width: 100%;
  color: white;
  background-color: rgb(99, 99, 99);
}

.fa-2x {
  margin: 3px;
}

.menu-button {
  border: 1px solid black;
  padding: 7px;
  border-radius: 25px;
}