.navbar {
    position: sticky;
    border-bottom: solid 2px rgb(159, 159, 159);
    height: 100px;
    list-style-type: none;
    margin-bottom: 30px;
    padding: 0;
}

.left-nav {
  float: left;
}

.right-nav {
  float: right;
}

.active {
    text-decoration: none;
    color: black;
}

#logobnb {
    display: inline-block;
    text-decoration: none;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2em;
}

.navlogo-container {
    display: inline-block;
    height: 64px;
}

