
.login-outer-box {
  display: block;
  text-align: center;
}

.login-box {
  display: flex;
  border-radius: 25px;
  justify-content: center;
  height: 400px;
  flex-direction: column;
  width: 400px;
}


.input {
  display: inline-block;
  border: 2px solid black;
  padding: 12px;
  border-radius: 5px;
  /* color: gray; */
  font-size: 14px;
  width: 350px;
  margin-bottom: 0.5em;
}

#login-button {
  padding: 12px;
  border: solid black 2px;
  width: 350px;
  box-shadow: 4px 4px 0px black;
  margin: 15px;
  cursor: pointer;
}

.login-color {
  background-color: salmon;
  color: white;
}

#demo {
  text-decoration: underline;
  color: darkslategray;
  cursor: pointer;
}

.highlight {
  background-color: blue;
}

#demo {
  margin: 0;
}